h1 {
  background-color: rgba(247, 171, 73, 0.527);
  color: rgb(172, 133, 5);
  padding: 10px 10px 10px 10px;
  text-align: center;
}
*::selection {
  background-color: rgba(129, 129, 248, 0.329);
}
p {
  color: rgb(0, 98, 255);
  font-size: large;
  text-align: center;
}
img {
  position: absolute;
  padding: 10px 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
img:nth-of-type(1) {
  transform: rotate(20deg);
  z-index: 2;
  left: 10%;
  top: 280px;
}
img:nth-of-type(2) {
  transform: rotate(10deg);
  z-index: 4;
  left: 30%;
  top: 280px;
}
img:nth-of-type(3) {
  transform: rotate(-10deg);
  z-index: 1;
  left: 50%;
  top: 280px;
}
img:nth-of-type(4) {
  transform: rotate(5deg);
  z-index: 2;
  left: 70%;
  top: 280px;
}
img:hover {
  transform: scale(2, 2);
  transition: all 3s;
  box-shadow: 10px 10px 15px #034663;
  z-index: 20;
}
